/* size of map container */
.leaflet-container {
    height: 100%;
    width: 100%;
}

.root__map {
    flex: 0.5;
    background-color: #e5e4e7;
}

.root__sidebar {
    flex: 0.2;
    display: flex;
    flex-flow: column nowrap;
    background-color: #181C25;
    position: relative;
}

.root__sidebar .quicknav {
    flex: 1;
}

.root__sidebar h2 {
    font-size: 2vh;
    font-weight: 500;
    color: #64676E;
}

.root__sidebar hr {
    border: none;
    height: 1px;
    width: 95%;
    margin: auto;
    background-color: #2A303C;
}

.root__sidebar li button {
    color: #9D9FA5;
}

.root__subapp {
    flex: 0.3;
    background-color: whitesmoke;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.root__subapp > h2 {
    font-size: 1em;
    color: #64676E;
    font-weight: bold;
    padding: 0.25em;
    border-bottom: 1px solid #2A303C;
}

.root__subapp section.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebar__header {
    border-bottom: 1px solid #2A303C;
}

.sidebar__footer {
    display: grid;
    border-top: 1px solid #2A303C;
    padding: 1.5em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar__footer .collapse::before {
    content: "<";
    margin-right: 0.5em;
}

.sidebar__footer .collapse {
    background-color: transparent;
    border: none;
    font: inherit;
    cursor: pointer;
    color: #777A81;
    margin: auto;
    text-decoration: none;
}

.sidebar__footer .collapse:hover {
    color: #F8DB28;
}

.root__sidebar nav ul {
    list-style-type: none;
    margin: 0.5em;
    display: flex;
    flex-flow: column nowrap;
}

.root__sidebar nav ul li a {
    border: none;
    border-radius: 0.25em;
    background-color: transparent;
    font-size: 1em;
    width: 100%;
    text-align: left;
    padding: 0.5em;
    padding-left: 3em;
    display: block;
    text-decoration: none;
    color: #9D9FA5;
}

.root__sidebar nav ul li a:hover {
    cursor: pointer;
    background-color: gray;
}

.root__sidebar nav ul li .active {
    background-color: #F8DB28;
    color: #181C25;
}